<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Outline Generator</title>
    <link href="{% static 'MyApp1/Outline.css' %}" rel="stylesheet" />
</head>
<body>
    <section class="outline">
        <div class="pdf-upload">
            <h2>Upload PDF</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Upload</button>
            </form>

            <h2>Uploaded PDFs</h2>

            {% if pdfs %}
            <uL>
                {% for item in pdfs %}
                <li>
                    {{ item.title }}
                    <a href="{{ item.pdf.url }}" target="_blank">View PDF</a>
                </li>
                {% endfor %}
            </uL>
            {% else %}
            <p>No PDFs uploaded yet.</p>
            {% endif %}
        </div>
    </section>
</body>
</html>