<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Unit Outlines</title>
    <link href="{% static 'Style.css' %}" rel="stylesheet" />
</head>

<body>
    <h1>Subjects</h1>

    <p>Click a subject to view information below.</p>

    <div class="subject-list">
        {% for key, subject in subjects.items %}
            <div class="subject-card">
                <h2>{{ subject.name }}</h2>
                <p>{{ subject.description }}</p>

                <button 
                    class="subject-btn"
                    onclick="showSubject(
                        '{{ subject.name }}',
                        '{{ subject.description }}',
                        '{{ subject.link }}'
                    )">
                    View {{ subject.name }}
                </button>
            </div>
        {% endfor %}
    </div>

    <hr>

    <div id="subject-info" class="subject-info" style="display: none;">
        <h2 id="subject-title"></h2>
        <p id="subject-description"></p>
           <p><a href="{% url 'report' %}">Download Subject PDF</a></p>
    </div>

    <br>
    <a href="{% url 'home' %}">Back to Home</a>

    <script>
        function showSubject(name, description, link) {
            document.getElementById("subject-info").style.display = "block";
            document.getElementById("subject-title").innerText = name;
            document.getElementById("subject-description").innerText = description;
            document.getElementById("subject-link").href = link;
        }
    </script>
</body>
</html>