{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'Style.css' %}" rel="stylesheet" />
    <title>Home</title>

</head>

<body>

    <!----Navigation---->

    <header class="home-header">
        <h1>BSSS</h1>
        <nav class="home-nav">

            <a href="#">Home</a>
            <a href="#">Unit Outlines</a>
            <a href="#">Help</a>
           
            <a href="#"  class="log-btn">Login in/Sign Up</a>
         
        </nav>
    </header>

    <!----Title---->

    <section class="home-title">
        <div class="home-content">
        <h2>Welcome!</h2>
        <p>Head to Unit butline to start</p>
        <a href="#" class="home-button">Unit Outline</a>
        </div>
    </section>


    <!---Footer--->
    <div class="home-footer">
        <footer>
            <p>Aryan Kanekal's website</p>
        </footer>
    </div>
</body>
</html>